#header ul {
	margin-top: -15px;
}

#header li {
	list-style-type: none;
	display: inline;
	padding: 20px 26px 15px 26px;
	margin-right: 14px;
	float: right;
}
#logo {
	margin-bottom: 50px;
	margin-top: -20px;
	float: left;
	width: 200px;
	height: 200px;
}

#header a {
	text-decoration: none;
	font-weight: 700;
	font-size: 36px;
	color: black;
	font-family: ‘Metrophobic’, Arial, serif; 
	font-weight: 400;
}

#header a:visited, a:active {
	color: black;
}

#header {
	margin-top: 50px;
	float: left;
	width: 100%;
}

.women {
	text-align: center;
	font-size: 30pt;
	margin-bottom: 15px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



